dns-server

# Go language specific ignores
# https://github.com/github/gitignore/blob/main/Go.gitignore

# Binaries for programs
*.exe
*.dll
*.so
*.dylib
*.o
*.ko

# Compiled Go packages
*.a
*.lo

# Test binary, built with `go test -c`
*.test

# Generated folder by `go tool dist`
pkg/

# Environment variables
.env
